<%= form_for(@testba) do |f| %>
  <% if @testba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testba.errors.count, "error") %> prohibited this testba from being saved:</h2>

      <ul>
      <% @testba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
