<h1>Listing testbas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testbas.each do |testba| %>
  <tr>
    <td><%= link_to 'Show', testba %></td>
    <td><%= link_to 'Edit', edit_testba_path(testba) %></td>
    <td><%= link_to 'Destroy', testba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testba', new_testba_path %>
