<table class="table table-striped">
  <thead>
    <tr>
      <td>E-mail</td>
      <td>Akcije</td>
    </tr>
  </thead>
  <% @users.each do |user|%>
  <tr>
    <td><%= user.email %></td>
    <td>
      <%= link_to '<i class="icon-trash"></i> Izbriši'.html_safe, user_path(user), :confirm => 'Jeste li sigurni da želite izbirsati korisnika?', :method => :delete  if current_user.id != user.id%>
      
      <a href="<%= edit_user_path(user) %>"><i class="icon-pencil"></i> Uredi</a>
    </td>
  </tr>
  <% end %>
</table>
<a href="<%= new_user_path %>">Dodaj novog korisnika</a>