<p>
  <b>Naziv:</b>
  <%= @center.name %>
</p>

<p>
  <b>Općina:</b>
  <%= @center.municipality.municipality if @center.municipality_id %>
</p>


<%= link_to 'Uredi', edit_center_path(@center) %> |
<%= link_to 'Nazad', centers_path %>
