.report-table {
  tbody{
    td {
      border: 1px solid;
    }
  }
  tr {
    margin: 5px;
    .boldtr {
      font-weight: bolder;
      height: 40px;
    }
  }
  td {
    min-width:40px;
  }
  .name {
    text-align: left;
  }

  text-align: center;
}
